body{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    height: 100vh;
    


}


h1{
    font-family: "Playfair Display", serif;
    
}


.lead{
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
.marketing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh;

    text-align: center;
}

.contact{
    left:50%;
    margin-left:-25%;
}

@media (max-width: 995px){
    .logo{
        width: 0px;
        height: 0px;
        
    }

    

}